<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.mapper.TblPowerMapper">
   <select id="myPower" resultType="com.cy.bean.TbPower">
       SELECT * FROM tb_power WHERE powerId IN (SELECT powerId FROM tb_power_re WHERE roleId=#{roleId})
   </select>
    <select id="notPower" resultType="com.cy.bean.TbPower">
        SELECT * FROM tb_power WHERE powerId NOT IN (SELECT powerId FROM tb_power_re WHERE roleId=#{roleId}) AND parentId !=0
    </select>
    <select id="notParentPower" resultType="com.cy.bean.TbPower">
        SELECT * FROM tb_power WHERE powerId in(SELECT parentId FROM tb_power WHERE powerId NOT IN (SELECT powerId FROM tb_power_re WHERE roleId=#{roleId}) AND parentId !=0 GROUP BY parentId )
    </select>
</mapper>