<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 申请表-->
<mapper namespace="com.cy.mapper.TblUserMapper">
    <select id="findUser" resultType="com.cy.bean.TblUserBean" >
        SELECT * FROM user WHERE userAcc = #{acc} AND userPwd = #{pwd}
    </select>
    <insert id="insertInfo" parameterType="com.cy.bean.TblUserBean" >
        INSERT INTO user (userAcc,userPwd,userName,headImg)
        VALUES (#{userAcc},#{userPwd},#{userName},#{headImg})
    </insert>
    <delete id="delUser">
        DELETE FROM user WHERE userAcc = #{acc}
    </delete>
    <update id="updUser" parameterType="com.cy.bean.TblUserBean">
        UPDATE user SET userAcc=#{userAcc},userPwd=#{userPwd},userName=#{userName},
        headImg=#{headImg} WHERE userAcc=#{userAcc}
    </update>
    <select id="select1" resultType="com.cy.bean.TblUserBean">
        SELECT * FROM user WHERE 1=1
        <if test="acc!=null and acc !=''">
            AND userAcc LIKE concat('%',#{acc},'%')
        </if>
        <if test="name!=null and name !=''">
            AND userName LIKE concat('%',#{name},'%')
        </if>
    </select>
</mapper>